@import url('https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&family=Kosugi+Maru&family=Mochiy+Pop+One&family=Yomogi&family=Yrsa:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

body{}

.dropdown-menu {
  min-width: inherit;
}

.to-register {
  text-decoration: underline;
  cursor: pointer;
}

.error-msg {
  color: red;
}

.navbar-color {
  background-color: #FFC277;
  color: #66402B;
}

.card-border {
  /* border: 1px solid #FB8A00; */
  border-radius: 0;
  border: 0px;
}

.card-img {
  height: 10rem;
  width: 100%;
  object-fit: contain;
  /* border: 1px solid #FB8A00; */
  border-radius: 0px;

}

.card-btn {
  /* background-color: #FFC279;
  color: #66402B;
  border-color: #66402B; */

  background-color: #FB8A00;
  color: white;
  border-radius: 0px;
  /* border-color: #4499FF; */
}

.card-btn:hover {
  color: #FB8A00;
  border-color: #FB8A00;
}

.form-check-input:checked {
  background-color: #Fb8A00;
  border-color: #Fb8A00;
}

.main-btn {
  /* background-color: #FFC279;
  color: #66402B;
  border-color: #66402B; */
  background-color: #FB8A00;
  color: white;
}

.main-btn:hover {
  color: #FB8A00;
  border-color: #FB8A00;
}

.search-box {
  /* border: 1px solid #FB8A00;
  border-radius: 0.25rem; */
  background-color: #face9895;
}

.search-container {
  margin-left: 5px;
}

.view-more {
  cursor: pointer;
  text-transform: capitalize;
}

.view-more:hover {
  color: #FB8A00;
  text-decoration: underline;
}

.qty-btn {
  color: #FB8A00;
}

.qty-btn:hover {
  color: #FB8A00;
  border-color: transparent;
}

.loader-size{
  height: 200px;
}

.pdt-padding {
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.accordion-button:not(.collapsed) {
  background-color: #face98;
  color: #361900;
}

.accordion-button:focus {
  border-color: transparent !important;
  box-shadow: none;
}

/* .card-badges{
  color: #FB8A00;
  border: 1px solid #FB8A00;
} */

.landing-box {
  height: 200px;
}

.carousel,
.carousel-inner {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 200px;
}

.caro-btn {
  background-color: white;
}

.form-label {
  text-transform: capitalize;
}

.card-badges {
  /* color: black;
  background-color: #C4DFFF; */
  /* color: #4499FF;
  border: 1px solid #4499FF; */
  color: #F18300;
  border: 1px solid #F18300;
}

.bottom-nav {
  position: fixed;
  width: 100vw;
  height: 8vh;
  background-color: #FFC277;
  bottom: 0px;
  z-index: 1000;
  /* margin-top: 8vh; */
}

.translate-middle {
  transform: translate(-50%, -20%) !important;
}

.cart-img {
  object-fit: cover;
  width: 100%
}

.list-group-item {
  border-top: 1px solid #ced4da;
}

.cart-preorder {
  margin-left: 12px;
}

.cart-name-mob {
  text-transform: capitalize;
}

.form-control {
  height: 30px;
}

.mob-nav {
  border: 0px;
  font-size: 25px;
}

.mob-nav:hover {
  border: 0px;
}

.mob-content {
  margin-bottom: 10vh;
}

.header-wrapper {
  position: relative;
  height: 400px;
  width: 100vw;
}

.header-banner {
  height: 400px;
  width: 100vw;
  object-fit: cover;
  position: absolute;
}

.header-mobile {
  position: relative;
  width: 100vw;
}

.video-mobile {
  width: 100vw;
  object-fit: cover;
  position: absolute
}

/* .mobile-overlay {
  color: white;
  position: relative;
  height: 50vw;
  width: 40vw;
  top: 3vh;
  left: 58vw;
  margin: 0px;
} */

.mob-container {
  margin-top: 8vh;
}

.figures-container {
  border: 1px solid black;
  background-color: rgba(0, 0, 0, 0.29)
}

.overlay {
  color: white;
  position: relative;
  height: 50vw;
  width: 40vw;
  top: 0;
  left: 58vw;
  margin: 0px;
  font-size: 20px;
  top: 10vh;
}

.header-btn {
  background-color: white;

}

.detail-text {
  text-transform: capitalize;
}

.landing-box {
  border: 1px solid black;
  text-align: center;
}

.product-name {
  text-transform: uppercase;
}

.desktop-single-product {
  width: 100%;
  border: 1px solid black;
}

.link-dec {
  text-decoration: none;
  color: #FB8A00;
}

.link-dec:hover {
  color: #66402B;
  text-decoration: underline;
}

.mob-table {
  padding-left: 20px;
  padding-right: 20px;
}

.blind-box-tag {
  position: absolute;
  left: 1px;
  top: 1px;
  font-size: 14px;
}

.blind-box-icon {
  font-size: 16px;
}

.tags-overlay {
  position: relative;
}

.tags {
  position: absolute;
  top: 1px;
  right: 1px;
  /* border: 1px solid black; */
  /* background-color: rgb(248, 166, 166);
  padding: 3px;
  border-radius: 0.25rem;
  font-size: 10px;
  color: white;
  font-weight: 500; */
}

.navbar-brand {
  font-family: 'Yomogi';
  letter-spacing: 2px;
  font-weight: 800;
}

.po-banner {
  position: absolute;
  width: 100%;
  bottom: 0px;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 800;
  background-color: rgba(255, 5, 5, 0.448);
}

.blind-box {
  background-color: rgba(0, 0, 0, 0.29);
  color: white;
  text-align: center;
  font-weight: 800;
}

.pre-order {
  background-color: #FB8A00;
}

.cart-po-sm {
  position: absolute;
  width: 100%;
  bottom: 0px;
  display: flex;
  justify-content: center;
  color: white;
  font-weight: 800;
  font-size: 10px;
  background-color: rgba(255, 155, 5, 0.798);
}

.first-list {
  border-top: 1px solid #ced4da !important;
  border-radius: 0.25rem;
}

.sold-out-img {
  filter: grayscale(100%);
}

.qty-btn.disabled,
.qty-btn:disabled,
fieldset:disabled {
  border: 0px !important;
}

.figure-type {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 12px;
  color: grey;
}

.carousel-caption {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(40, 38, 38, 0.391);
}

.login-img-logo {
  height: 100px;
}


/* .login-img{
  background-color: #FFC277;
  height: 100vh;
} */


@media screen and (min-width: 992px) {
  .cart-img {
    height: 150px;
    width: 150px;
    object-fit: cover;
  }

  .cart-name {
    font-size: 15px;
  }

  .overlay {
    color: white;
    position: relative;
    font-size: 38px;
    top: 0vh;
  }

  .mob-content {
    margin-bottom: 0;
  }

  .parent-contain {
    height: 93vh;
  }

  .login-container {
    margin: 0 !important;
  }

  .login-img {
    background-color: #ffc2773e;
    height: 100%;
  }

  .login-img-logo {
    height: 200px;
  }

}