.dropdown-menu {
  min-width: inherit;
}

.to-register {
  text-decoration: underline;
  cursor: pointer;
}

.error-msg {
  color: red;
}

.navbar-color {
  background-color: #FFC276;
  color: #66402B
}

.card-border {
  border: 1px solid #FFC276;
}

.card-img {
  height: 10rem;
  width: 100%;
  object-fit: contain;
  border-bottom: 1px solid #FFC276;
  border-radius: 0px;

}

.card-btn {
  background-color: #FFECD3;
  color: #66402B;
  border-color: #66402B;
}

.main-btn {
  background-color: #FFECD3;
  color: #66402B;
  border-color: #66402B;
}

.search-box {
  border: 1px solid #FFC276;
  border-radius: 0.25rem;
}

.view-more {
  cursor: pointer
}

.view-more:hover {
  color: #FFC276;
  text-decoration: underline;
}

.bottom-nav {
  position: fixed;
  height: 8vh;
  background-color: #FFC276;
  bottom: 0px;
  margin-top: 8vh;
}

.translate-middle {
  transform: translate(-50%, -20%) !important;
}

.cart-img {
  height: 150px;
  object-fit: cover;
  width: 90px;
}

.list-group-item {
  border-top: 1px solid #ced4da;
}

.cart-preorder {
  margin-left: 12px;
}

.cart-name-mob {
  text-transform: capitalize;
}

.form-control {
  height: 30px;
}

.mob-nav {
  border: 0px;
}

.mob-nav:hover {
  border: 0px;
}

.header-wrapper{
  position: relative;
  height: 400px;
  width: 100vw;
}

.header-banner{
  height: 400px;
  width: 100vw;
  object-fit: cover;
  position: absolute;
}

.overlay{
  color: white;
  position: relative;
  height: 250px;
  width: 400px;
  left: 720px;
  top: 50px;
  font-size: 40px;
}

.header-btn{
  background-color: white;

}

.detail-text{
  text-transform: capitalize;
}

.landing-box{
  border: 1px solid black;
  text-align: center;
}

.product-name{
  text-transform: capitalize;
}

@media screen and (min-width: 768px) {
  .cart-img {
    height: 150px;
    width: auto;
  }

  .cart-name {
    font-size: 15px;
  }
}